@model Bloggos.Web.Models.Blog.MapViewModel
@{
    ViewData["Title"] = Model.Title;
}
@functions {
    public string GenerateLink(Bloggos.Web.Models.Blog.LinkDestinationViewModel type, int id)
    {
        switch (type)
        {
            case Bloggos.Web.Models.Blog.LinkDestinationViewModel.MapPage:
                return $"/Blog/Map/{id}";
            case Bloggos.Web.Models.Blog.LinkDestinationViewModel.ArticlePage:
                return $"/Blog/Article/{id}";
            default:
                return "#";
        }
    }
}

<h2>@Model.Title</h2>
<hr />

<p>@Html.Raw(Model.DescriptionHTML)</p>
<hr />

<div class="row">
    @foreach (var x in Model.Destinations)
    {
        <div class="col-12 col-md-6 col-lg-4">
            <a href="@GenerateLink(x.DestinationType, x.DestinationId)" class="card mb-3" style="max-width: 540px; text-decoration:none;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@x.ImageSource" class="img-fluid rounded-start" alt="kotka">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@x.Title</h5>
                            <p class="card-text" style="color:black">@x.Description</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>